header {
    background-color: #252526;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.header-link>a{
    color: white;
}

.auth {
    display: flex;
    gap: 15px;
}